# Python Packages and Scientific Computing Libraries

"""
Python Packages Overview:
-------------------------
Packages in Python are collections of modules that provide reusable code and functionality. 
They allow developers to organize and share complex code libraries that can be easily imported 
and used across different projects.

Key Characteristics of Packages:
- Organized hierarchically
- Contain multiple related modules
- Can be installed using package managers like pip
- Extend Python's core functionality

Three Essential Data Science Libraries:
--------------------------------------
1. Pandas (pd):
   - Primary library for data manipulation and analysis
   - Provides DataFrame: a 2D labeled data structure with columns of potentially different types
   - Key Features:
     * Reading/writing data from various sources (CSV, Excel, SQL databases)
     * Data cleaning and preprocessing
     * Complex data transformations
     * Powerful data analysis and aggregation tools

2. NumPy (np):
   - Fundamental package for scientific computing in Python
   - Introduces the ndarray (n-dimensional array) for efficient numerical operations
   - Key Features:
     * High-performance multidimensional array object
     * Mathematical and statistical functions
     * Linear algebra operations
     * Foundation for scientific and numerical computing
     * Enables fast computations on large datasets

3. Matplotlib (plt):
   - Comprehensive library for creating static, animated, and interactive visualizations
   - Provides MATLAB-like plotting interface
   - Key Features:
     * Line plots, scatter plots, bar charts, histograms
     * Customizable plot styles and layouts
     * Support for multiple plot types and graph formats
     * Integration with NumPy for data visualization

Practical Significance:
----------------------
These libraries form the backbone of data science and scientific computing in Python, 
enabling complex data analysis, numerical computations, and insightful visualizations 
with minimal code.
"""

In [3]:
# Import required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Read the Excel file
df = pd.read_excel("C:/Users/li45m/Box/A_MPVM/MPM 200/Python/.ipynb_checkpoints/Flavivirus host associations.xlsx")

# Display basic information about the dataset
print(df.info())

# Show the first few rows of the data
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 570 entries, 0 to 569
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   sr no.                  570 non-null    int64
 1   Virus                   570 non-null    object
 2   Scientific Name         570 non-null    object
 3   Authors                 570 non-null    object
 4   Year                    430 non-null    object
 5   Title/accession number  570 non-null    object
 6   Journal                 425 non-null    object
 7   Issue                   415 non-null    float64
 8   Volume                  404 non-null    object
 9   Pages                   404 non-null    object
dtypes: float64(1), int64(1), object(8)
memory usage: 44.7+ KB
None

,sr no.,Virus,Scientific Name,Authors,Year,Title/accession number,Journal,Issue,Volume,Pages
0,3,Apoi virus,Rattus rattus,"C. M. Baak-Baak, N. Cigarroa-Toledo, O. M. Tor...",2016,New Records of Ectoparasites Echinolaelaps ech...,Southwestern Entomologist,NaN,NaN,NaN
1,2,Apoi virus,Myodes rufocanus,CDC Arbocat,NaN,CDC Arbocat,NaN,NaN,NaN,NaN
2,0,Apoi virus,Apodemus argenteus,J. S. Mackenzie and D. T. Williams,2009,"The zoonotic flaviviruses of southern, south-e...",Zoonoses Public Health,56.0,6-7,338-56
3,1,Apoi virus,Apodemus speciosus,J. S. Mackenzie and D. T. Williams,2009,"The zoonotic flaviviruses of southern, south-e...",Zoonoses Public Health,56.0,6-7,338-56
4,4,Bagaza virus,Alectoris rufa,"D. Buitrago, A. Rocha, C. Tena-Tomas, M. Vigo,...",2012,Real-time fluorogenic reverse transcription po...,J Vet Diagn Invest,24.0,5,959-63

## Using pandas functions that you have seen in the class address following questions
1. How many entries are there in the dataset?
2. How many viruses are present in the dataset? 
3. List those viruses.
4. How many rows of data are present for each virus?
5. How many host species are present in the data?
6. Make a list of host species present.
7. Count the number of unique host species for each virus. 
8. Which virus has the most number of hosts?
9. Which host has most number of viruses?

In [5]:
# Exploring Virus and Species Diversity in the Dataset

# Count total number of entries in the dataset = 570
total_entries = len(df)
print("Total entries:", total_entries)

# Count unique viruses = 30
unique_virus = df["Virus"].nunique()
print("Count of unique viruses:", unique_virus)

# List of unique viruses
unique_virus_list = df.Virus.unique().tolist()
print("List of unique viruses:", unique_virus_list)

# Count of each unique virus
print(df['Virus'].value_counts())

# Count unique host species = 419
unique_host = df["Scientific Name"].nunique()
print("Count of unique host species:", unique_host)

# List of unique host species
unique_host_list = df["Scientific Name"].unique().tolist()
print("List of unique hosts:", unique_host_list)

# Count of host species for each virus
species_by_virus_count = df.groupby('Virus')['Scientific Name'].nunique()
print("Count of host species for each virus:", species_by_virus_count)

# Most diverse viruses (viruses with most unique host species)
print("\nViruses with Most Unique Host Species:")
print(species_by_virus_count.sort_values(ascending=False).head())

Total entries: 570
Count of unique viruses: 30
List of unique viruses: ['Apoi virus', 'Bagaza virus', 'Banzi virus', 'Bouboui virus', 'Bussuquara virus', 'Cacipacore virus', 'Dakar bat virus', 'Dengue virus', 'Entebbe bat virus', 'Iguape virus', 'Ilheus virus', 'Japanese encephalitis virus', 'Koutango virus', 'Kunjin virus', 'Kyasanur forest virus', 'Louping-ill virus', 'Modoc virus', 'Murray Valley encephalitis virus', 'Omsk hemorrhagic fever virus', 'Rio Bravo virus', 'Rocio virus', 'St. Louis Encephalitis virus', 'Tembusu virus', 'Tickborne encephalitis virus', 'Uganda S virus', 'Usutu virus', 'Wesselsbron virus', 'West Nile virus', 'Yellow fever virus', 'Zika virus']
Virus
West Nile virus                     194
Tickborne encephalitis virus         84
St. Louis Encephalitis virus         72
Usutu virus                          65
Dengue virus                         27
Japanese encephalitis virus          25
Louping-ill virus                    13
Yellow fever virus                   11
Rio Bravo virus                       9
Uganda S virus                        7
Zika virus                            7
Entebbe bat virus                     6
Kyasanur forest virus                 6
Ilheus virus                          5
Dakar bat virus                       5
Apoi virus                            4
Modoc virus                           3
Murray Valley encephalitis virus      3
Omsk hemorrhagic fever virus          3
Kunjin virus                          3
Bussuquara virus                      3
Wesselsbron virus                     3
Bagaza virus                          2
Tembusu virus                         2
Banzi virus                           2
Rocio virus                           2
Iguape virus                          1
Koutango virus                        1
Cacipacore virus                      1
Bouboui virus                         1
Name: count, dtype: int64
Count of unique host species: 419
List of unique hosts: ['Rattus rattus', 'Myodes rufocanus', 'Apodemus argenteus', 'Apodemus speciosus', 'Alectoris rufa', 'Phasianus colchicus', 'Mastomys natalensis', 'Mesocricetus auratus', 'Papio papio', 'Equus caballus', 'Alouatta belzebul', 'Proechimys guyannensis', 'Chaerephon pumilus', 'Taphozous perforatus', 'Mops condylurus', 'Scotophilus nigrita', 'Otomops sp', 'Carollia brevicauda', 'Molossus molossus', 'Myotis nigricans', 'Natalus stramineus', 'Rousettus leschenaultii', 'Artibeus planirostris', 'Caluromys philander', 'Carollia perspicillata', 'Didelphis marsupialis', 'Hylaeamys megacephalus', 'Marmosa demerarae', 'Marmosa murina', 'Marmosops parvidens', 'Mesomys hispidus', 'Oecomys sp', 'Philander opossum', 'Proechimys cuvieri', 'Zygodontomys brevicauda', 'Artibeus jamaicensis', 'Artibeus lituratus', 'Glossophaga soricina', 'Artibeus sp', 'Uroderma sp', 'Macaca nemestrina', 'Mus musculus', 'Eidolon helvum', 'Pipistrellus pipistrellus', 'Rhinolophus sp', 'Rousettus spinalatus', 'Macaca mulatta', 'Equus ferus', 'Molothrus bonariensis', 'Sporophila caerulescens', 'Hipposideros armiger', 'Rhinolophus pusillus', 'Vespertilio sinensis', 'Bos taurus', 'Bos gaurus', 'Crocidura macowi', 'Turdus merula', 'Turdus iliacus', 'Sturnus vulgaris', 'Turdus philomelos', 'Columba livia', 'Sus scrofa', 'Alouatta pigra', 'Sus domesticus', 'Myotis pilosus', 'Scotophilus kuhlii', 'Rhinolophus affinis', 'Miniopterus schreibersii', 'Ovis aries', 'Murina aurata', 'Padda oryzivora', 'Spilopelia chinensis', 'Gallus gallus', 'Oriolus flavocinctus', 'Pteropus sp', 'Vandeleuria oleracea', 'Macaca radiata', 'Madromys blanfordi', 'Semnopithecus entellus', 'Capra aegagrus', 'Capra hircus', 'Apodemus sylvaticus', 'Canis lupus', 'Capreolus capreolus', 'Cervus elaphus', 'Lagopus lagopus', 'Lepus timidus', 'Sorex araneus', 'Peromyscus maniculatus', 'Egretta novaehollandiae', 'Microtus gregalis', 'Ondatra zibethicus', 'Microtus oeconomus', 'Molossus rufus', 'Tadarida brasiliensis', 'Eptesicus fuscus', 'Desmodus rotundus', 'Sturnira lilium', 'Zonotrichia capensis', 'Agelaioides badius', 'Agelaius phoeniceus', 'Alouatta sp', 'Ateles paniscus', 'Bradypus variegatus', 'Bubo virginianus', 'Buteogallus coronatus', 'Butorides striata', 'Callipepla gambelii', 'Calomys musculinus', 'Campylorhynchus brunneicapillus', 'Caracara cheriway', 'Carpodacus mexicanus', 'Charadrius vociferus', 'Choloepus hoffmanni', 'Colaptes melanochloros', 'Columbina passerina', 'Columbina picui', 'Conopophaga aurita', 'Dendroica coronata', 'Egretta thula', 'Elaenia albiceps', 'Falco sparverius', 'Furnarius rufus', 'Geothlypis trichas', 'Geotrygon montana', 'Hypocnemis cantator', 'Icterus bullockii', 'Ixobrychus exilis', 'Lanius ludovicianus', 'Lepus californicus', 'Lophospingus pusillus', 'Melospiza melodia', 'Melozone aberti', 'Mimus polyglottos', 'Molothrus ater', 'Myiobius barbatus', 'Myrmotherula hauxwelli', 'Nycticorax nycticorax', 'Oligoryzomys nigripes', 'Orcinus orca', 'Passer domesticus', 'Phalcoboenus chimango', 'Philydor erythrocercum', 'Pitangus sulphuratus', 'Poospiza nigrorufa', 'Porzana carolina', 'Procyon lotor', 'Pseudoseisura lophotes', 'Pyrocephalus rubinus', 'Saltator maximus', 'Sapajus apella', 'Sayornis nigricans', 'Stelgidopteryx serripennis', 'Toxostoma redivivum', 'Turdus amaurochalinus', 'Vermivora ruficapilla', 'Zenaida asiatica', 'Zenaida auriculata', 'Zenaida macroura', 'Tadorna sp', 'Anas platyrhynchos', 'Apodemus agrarius', 'Myodes rutilus', 'Alticola argentatus', 'Apodemus pallipes', 'Microtus ilaeus', 'Bison bonasus', 'Macaca sylvanus', 'Apodemus flavicollis', 'Microtus agrestis', 'Microtus arvalis', 'Apodemus sp', 'Myodes glareolus', 'Lagomorpha sp', 'Sciuridae sp', 'Acrocephalus dumetorum', 'Anas crecca', 'Bombycilla garrulus', 'Carduelis carduelis', 'Carduelis chloris', 'Carduelis spinus', 'Carpodacus erythrinus', 'Dendrocopos major', 'Emberiza citrinella', 'Ficedula hypoleuca', 'Luscinia calliope', 'Luscinia luscinia', 'Mergus merganser', 'Parus ater', 'Parus major', 'Parus montanus', 'Passer montanus', 'Phoenicurus phoenicurus', 'Phylloscopus collybita', 'Phylloscopus proregulus', 'Phylloscopus trochilus', 'Pyrrhula pyrrhula', 'Riparia riparia', 'Sitta europaea', 'Spatula clypeata', 'Sylvia curruca', 'Vanellus vanellus', 'Ovis orientalis', 'Accipiter gentilis', 'Anthus trivialis', 'Bonasa bonasia', 'Carduelis flammea', 'Clangula hyemalis', 'Corvus corone', 'Corvus monedula', 'Crex crex', 'Emberiza fucata', 'Fringilla coelebs', 'Fringilla montifringilla', 'Fulica atra', 'Jynx torquilla', 'Lanius collurio', 'Lanius cristatus', 'Loxia curvirostra', 'Melanitta fusca', 'Motacilla alba', 'Motacilla flava', 'Pica pica', 'Scolopax rusticola', 'Spatula querquedula', 'Troglodytes troglodytes', 'Turdus pallidus', 'Turdus pilaris', 'Turdus ruficollis', 'Arvicanthis niloticus', 'Cricetomys gambianus', 'Saxicola rubetra', 'Andropadus virens', 'Bycanistes sharpii', 'Praomys sp', 'Turdus libonyanus', 'Aegolius funereus', 'Erithacus rubecula', 'Glaucidium passerinum', 'Surnia ulula', 'Hirundo rustica', 'Parus caeruleus', 'Strix nebulosa', 'Ardea cinerea', 'Clanga clanga', 'Larus michahellis', 'Merops apiaster', 'Picus viridis', 'Streptopelia decaocto', 'Garrulus glandarius', 'Ciconia ciconia', 'Pandion haliaetus', 'Equus asinus', 'Acrocephalus scirpaceus', 'Bubo bubo', 'Circus aeruginosus', 'Delichon urbicum', 'Emberiza schoeniclus', 'Falco tinnunculus', 'Gypaetus barbatus', 'Pavo cristatus', 'Phoenicurus ochruros', 'Strix aluco', 'Strix uralensis', 'Sylvia atricapilla', 'Sylvia borin', 'Sylvia communis', 'Tyto alba', 'Alcedo atthis', 'Larosterna inca', 'Serinus canaria', 'Turdus sp', 'Asio otus', 'Caprimulgus europaeus', 'Larus ridibundus', 'Desmodillus auricularis', 'Acrocephalus schoenobaenus', 'Anthus pratensis', 'Meleagris gallopavo', 'Prunella modularis', 'Dendroica petechia', 'Icterus leucopteryx', 'Leptotila jamaicensis', 'Mniotilta varia', 'Myiopagis cotta', 'Parkesia noveboracensis', 'Tiaris bicolor', 'Turdus aurantius', 'Turdus jamaicensis', 'Tyrannus caudifasciatus', 'Vireo modestus', 'Anorrhinus tickelli', 'Larus leucophthalmus', 'Anser anser domesticus ', 'Platycercus sp', 'Branta canadensis', 'Mephitis mephitis', 'Bonasa umbellus', 'Ciconia sp', 'Canis familiaris', 'Sciurus carolinensis', 'Cyanocitta cristata', 'Corvus brachyrhynchos', 'Gallus domesticus', 'Bubulcus ibis', 'Aegypius monachus', 'Corvus frugilegus', 'Coracornis raveni', 'Cardinalis cardinalis', 'Fulica americana', 'Phalacrocorax sp', 'Dumetella carolinensis', 'Falco columbarius', 'Falco punctatus', 'Accipiter nisus', 'Aquila adalberti', 'Quiscalus quiscula', 'Rodent sp', 'Aquila fasciata', 'Pelophylax ridibundus', 'Aquila chrysaetos', 'Sciurus niger', 'Athene noctua', 'Chaerephon bregullae', 'Anaxyrus fowleri', 'Parus atricapillus', 'Arabitragus jayakari', 'Corvus corax', 'Crocodylus moreletii', 'Panurus biarmicus', 'Haliaeetus albicilla', 'Hylocichla mustelina', 'Toxostoma rufum', 'Parus carolinensis', 'Loriini sp', 'Capra falconeri', 'Pelecanus conspicillatus', 'Quiscalus major', 'Gymnogyps californianus', 'Asio flammeus', 'Coragyps atratus', 'Buteo swainsoni', 'Pelecanus occidentalis', 'Cygnus buccinator', 'Sternula albifrons', 'Ictinia mississippiensis', 'Phalacrocorax auritus', 'Buteo regalis', 'Calidris alba', 'Sturnidae', 'Charadrius melodus', 'Haliaeetus leucocephalus', 'Akodon mimus', 'Accipitridae sp', 'Larus smithsonianus', 'Actitis macularius', 'Sternula antillarum', 'Pelecanus erythrorhynchos', 'Phoenicopterus ruber', 'Anatidae sp', 'Nestor notabilis', 'Camelus dromedarius', 'Larus delawarensis', 'Colaptes auratus', 'Baeolophus bicolor', 'Corvus ossifragus', 'Accipiter striatus', 'Carduelis tristis', 'Turdus migratorius', 'Anisognathus somptuosus', 'Campylorhamphus trochilirostris', 'Coereba flaveola', 'Elaenia flavogaster', 'Thraupis palmarum', 'Turdus leucomelas', 'Odocoileus virginianus', 'Oreamnos americanus', 'Rangifer tarandus', 'Ursus maritimus', 'Struthio camelus', 'Accipiter cooperii', 'Agelaius tricolor', 'Aphelocoma californica', 'Ardea alba', 'Ardea herodias', 'Buteo jamaicensis', 'Buteo lineatus', 'Callipepla californica', 'Cistothorus palustris', 'Dryobates nuttallii', 'Euphagus cyanocephalus', 'Falco peregrinus', 'Geococcyx californianus', 'Lonchura punctulata', 'Melospiza lincolnii', 'Melozone crissalis', 'Myiarchus cinerascens', 'Pheucticus melanocephalus', 'Pica nuttalli', 'Tachycineta bicolor', 'Thryomanes bewickii', 'Tyrannus verticalis', 'Zonotrichia atricapilla', 'Zonotrichia leucophrys', 'Acrocephalus palustris', 'Locustella luscinioides', 'Saguinus geoffroyi', 'Primate sp', 'Erythrocebus patas', 'Alouatta caraya', 'Alouatta guariba', 'Chlorocebus aethiops', 'Alouatta sara', 'Colobus guereza', 'Aotus sp', 'Callithrix jacchus', 'Macaca fascicularis', 'Pongo pygmaeus', 'Sapajus libidinosus']
Count of host species for each virus: Virus
Apoi virus                            4
Bagaza virus                          2
Banzi virus                           2
Bouboui virus                         1
Bussuquara virus                      3
Cacipacore virus                      1
Dakar bat virus                       5
Dengue virus                         27
Entebbe bat virus                     6
Iguape virus                          1
Ilheus virus                          5
Japanese encephalitis virus          25
Koutango virus                        1
Kunjin virus                          3
Kyasanur forest virus                 6
Louping-ill virus                    13
Modoc virus                           3
Murray Valley encephalitis virus      3
Omsk hemorrhagic fever virus          3
Rio Bravo virus                       9
Rocio virus                           2
St. Louis Encephalitis virus         72
Tembusu virus                         2
Tickborne encephalitis virus         83
Uganda S virus                        4
Usutu virus                          65
Wesselsbron virus                     3
West Nile virus                     194
Yellow fever virus                   11
Zika virus                            7
Name: Scientific Name, dtype: int64

Viruses with Most Unique Host Species:
Virus
West Nile virus                 194
Tickborne encephalitis virus     83
St. Louis Encephalitis virus     72
Usutu virus                      65
Dengue virus                     27
Name: Scientific Name, dtype: int64

# Metadata

## Given that we are interested in the metadata associated with these host species, we will import datasets associated with the metadata for both bird and mammalian species.

1. Birds

In [7]:
loc = "C:/Users/li45m/Downloads/Handbook of the Birds of the World and BirdLife International Digital Checklist of the Birds of the World_Version_9.xlsx"
birds_meta = pd.read_excel(loc)
birds_meta.head()

,Seq.,Subsp. Seq.,Order,Family name,Family,Subfamily,Tribe,Common name,Scientific name,Authority,2024 IUCN Red List category,Synonyms,Alternative common names,Taxonomic source(s),SISRecID,SpcRecID\n(used before SISRecID),SubsppID
0,1.0,0.0,STRUTHIONIFORMES,Struthionidae,Ostriches,NaN,NaN,Common Ostrich,Struthio camelus,"Linnaeus, 1758",LC,NaN,NaN,"del Hoyo, J., Collar, N.J., Christie, D.A., El...",45020636.0,1016860.0,NaN
1,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,Struthio camelus syriacus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45020636_1
2,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,Struthio camelus camelus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45020636_2
3,1.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,Struthio camelus massaicus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45020636_3
4,1.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,Struthio camelus australis,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45020636_4

The data for birds is at subspecies level. It means that there is species name represented by column `Seq.`. All rows in same number represent one species.

2. Mammals

## Similarly, read file for mammals metadata.

In [8]:
loc = "C:/Users/li45m/Downloads/IUCN Mammals, Birds, Reptiles, and Amphibians.csv"
mammals_meta = pd.read_csv(loc, encoding='latin-1')
mammals_meta.head()

,Species ID,Kingdom,Phylum,Class,Order,Family,Genus,Species,Authority,Infraspecific rank,...,Synonyms,Common names (Eng),Common names (Fre),Common names (Spa),Red List status,Red List criteria,Red List criteria version,Year assessed,Population trend,Petitioned
0,42641.0,ANIMALIA,CHORDATA,MAMMALIA,RODENTIA,MURIDAE,Abditomys,latidens,"(Sanborn, 1952)",NaN,...,NaN,Luzon Broad-toothed Rat,NaN,NaN,DD,NaN,3.1,2008.0,unknown,N
1,22687170.0,ANIMALIA,CHORDATA,AVES,CAPRIMULGIFORMES,TROCHILIDAE,Abeillia,abeillei,"(Lesson & DeLattre, 1839)",NaN,...,NaN,Emerald-chinned Hummingbird,NaN,NaN,LC,NaN,3.1,2012.0,decreasing,N
2,17879.0,ANIMALIA,CHORDATA,MAMMALIA,RODENTIA,MURIDAE,Abeomelomys,sevia,"(Tate & Archbold, 1935)",NaN,...,Melomys sevia|Pogonomelomys sevia,"Menzies' Mouse, Menzies's Mouse, Highland Brus...",NaN,NaN,LC,NaN,3.1,2016.0,unknown,N
3,47760825.0,ANIMALIA,CHORDATA,MAMMALIA,RODENTIA,CRICETIDAE,Abrawayaomys,ruschii,"Cunha & Cruz, 1979",NaN,...,NaN,Ruschi's Rat,NaN,NaN,LC,NaN,3.1,2016.0,unknown,N
4,42656.0,ANIMALIA,CHORDATA,MAMMALIA,RODENTIA,ABROCOMIDAE,Abrocoma,bennettii,"Waterhouse, 1837",NaN,...,NaN,Bennett's Chinchilla Rat,NaN,NaN,LC,NaN,3.1,2016.0,unknown,N

## For both birds and mammals answer the following questions.
1. Size of the datasets
2. For birds, filter the dataset using species-level rows only. Hint. Column `Subsp. Seq.` value of 0 indicates the main species name
3. How many bird species and mammal species are present in data frames?

In [11]:
#Birds
#Size of the bird datasets = (33265, 17)
total_birds = birds_meta.shape
print("Total rows and columns for bird dataset:", total_birds)

#For birds, filter the dataset using species-level rows only. Hint. Column Subsp. Seq. value of 0 indicates the main species name
birds_spe = birds_meta[birds_meta['Subsp. Seq.'] == 0]
print(birds_spe)

#How many bird species are present in data frames? = 13232
unique_birds = birds_meta["Seq."].nunique()
print("Count of bird species:", unique_birds)


#Mammals
#Size of the mammal datasets = (16081, 23)
total_mammals = mammals_meta.shape
print("Total rows and columns for mammal dataset:", total_mammals)

#How many mammal species are present in data frames? = 15961
unique_mammals = mammals_meta["Species ID"].nunique()
print("Count of mammal species:", unique_mammals)

Total rows and columns for bird dataset: (33265, 17)
           Seq.  Subsp. Seq.             Order    Family name     Family  \
0           1.0          0.0  STRUTHIONIFORMES  Struthionidae  Ostriches
5           2.0          0.0  STRUTHIONIFORMES  Struthionidae  Ostriches
6           3.0          0.0  STRUTHIONIFORMES        Rheidae      Rheas
12          4.0          0.0  STRUTHIONIFORMES        Rheidae      Rheas
16          5.0          0.0  STRUTHIONIFORMES      Tinamidae   Tinamous
...         ...          ...               ...            ...        ...
32018  100790.0          0.0     PASSERIFORMES       Pittidae     Pittas
32459  101231.0          0.0     PASSERIFORMES      Alaudidae      Larks
32468  101240.0          0.0     PASSERIFORMES      Alaudidae      Larks
32807  101579.0          0.0     PASSERIFORMES      Sturnidae  Starlings
32808  101580.0          0.0     PASSERIFORMES      Sturnidae  Starlings

       Subfamily Tribe             Common name            Scientific name  \
0            NaN   NaN          Common Ostrich           Struthio camelus
5            NaN   NaN          Somali Ostrich     Struthio molybdophanes
6            NaN   NaN            Greater Rhea             Rhea americana
12           NaN   NaN             Lesser Rhea               Rhea pennata
16           NaN   NaN  Tawny-breasted Tinamou         Nothocercus julius
...          ...   ...                     ...                        ...
32018        NaN   NaN                     NaN              Pitta elegans
32459        NaN   NaN                     NaN  Calendulauda africanoides
32468        NaN   NaN                     NaN           Mirafra somalica
32807  Sturninae   NaN                     NaN      Acridotheres tricolor
32808  Sturninae   NaN                     NaN       Acridotheres tertius

                Authority 2024 IUCN Red List category              Synonyms  \
0          Linnaeus, 1758                          LC                   NaN
5         Reichenow, 1883                          VU                   NaN
6        (Linnaeus, 1758)                          NT                   NaN
12        d'Orbigny, 1834                          LC                   NaN
16      (Bonaparte, 1854)                          LC                   NaN
...                   ...                         ...                   ...
32018      Temminck, 1836                          NR                   NaN
32459       (Smith, 1836)                          NR  Mirafra africanoides
32468    (Witherby, 1903)                          NR                   NaN
32807   (Horsfield, 1821)                          NR      Grey-backed Myna
32808  (Hartert, E, 1896)                          NR      Grey-rumped Myna

                                Alternative common names  \
0                                                    NaN
5                                                    NaN
6              Common Rhea, Avestruz, Ñandú, Ñandú Común
12     Avestruz de Magallanes, Darwin's Rhea, Ñandú P...
16                                                   NaN
...                                                  ...
32018                                      Elegant Pitta
32459              Fawn-coloured Lark, Fawn-colored Lark
32468  Somali Lark, Alouette de Somalie, Red Somali L...
32807                                                NaN
32808                                                NaN

                                     Taxonomic source(s)     SISRecID  \
0      del Hoyo, J., Collar, N.J., Christie, D.A., El...   45020636.0
5      del Hoyo, J., Collar, N.J., Christie, D.A., El...   22732795.0
6      del Hoyo, J., Collar, N.J., Christie, D.A., El...   22678073.0
12     Handbook of the Birds of the World and BirdLif...   22678081.0
16     del Hoyo, J., Collar, N.J., Christie, D.A., El...   22678157.0
...                                                  ...          ...
32018  del Hoyo, J., Collar, N.J., Christie, D.A., El...   22698694.0
32459  del Hoyo, J., Collar, N.J., Christie, D.A., El...   22717080.0
32468  del Hoyo, J., Collar, N.J., Christie, D.A., El...   22717043.0
32807  del Hoyo, J., Collar, N.J., Christie, D.A., El...  103870973.0
32808  del Hoyo, J., Collar, N.J., Christie, D.A., El...  103871084.0

       SpcRecID\n(used before SISRecID) SubsppID
0                             1016860.0      NaN
5                               31769.0      NaN
6                                   2.0      NaN
12                                  3.0      NaN
16                                 17.0      NaN
...                                 ...      ...
32018                            4021.0      NaN
32459                            8110.0      NaN
32468                            8102.0      NaN
32807                               NaN      NaN
32808                               NaN      NaN

[11204 rows x 17 columns]
Count of bird species: 13232
Total rows and columns for mammal dataset: (16081, 23)
Count of mammal species: 15961

# Database Integration Exercise
The main objective of this exercise is to create a comprehensive database by combining three data frames. Follow these steps  n your analysis.

## Create a concept map:  
* Illustrate the relationships between the three data frames.  
* Identify and highlight the Primary Keys in each data frame.  
* Use a diagramming tool (e.g., PowerPoint, LucidChart, or Draw.io) to create a visual representation of these connections.  
* Pay special attention to how you plan to merge the Mammals and Birds data frames.

## Perform a vertical join of Mammals and Birds data frames:  
* Identify and select only the common columns present in both data frames.  
* Use `pd.concat()` or `df.append()` to create a larger dataframe called **metadata**.  
* Ensure the resulting dataframe has the correct number of rows and columns.

## Merge the metadata dataframe with the Flavivirus dataframe:  
* Experiment with different join types: `inner`, `outer`, `left`, and `right`.  
* For each join type, record the resulting dataframe's shape (rows and columns).  
* Determine the **theoretically correct size of the merged dataframe if done manually**.  
* Compare the results of each join type with the expected outcome.  
* Choose the most appropriate join type based on your analysis.

### Create a pivote table, 
1. Rows are virueses  
2. Columns are Taxonomic orders  
3. Values are number of unique host species

In [37]:
#Rename columns 
birds_spe.rename(columns={'Common name': 'Common names (Eng)'}, inplace=True)
mammals_meta.rename(columns={'Famiy name':'Family name'}, inplace=True)

#Make Scientific name column in mammals_meta by merging Genus and Species
mammals_meta['Scientific name'] = mammals_meta['Genus'] + ' ' + mammals_meta['Species']

mammals_meta.head()

C:\Users\li45m\AppData\Local\Temp\ipykernel_25396\3873932611.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  birds_spe.rename(columns={'Common name': 'Common names (Eng)'}, inplace=True)

,Species ID,Kingdom,Phylum,Class,Order,Family name,Genus,Species,Authority,Infraspecific rank,...,Common names (Eng),Common names (Fre),Common names (Spa),Red List status,Red List criteria,Red List criteria version,Year assessed,Population trend,Petitioned,Scientific name
0,42641.0,ANIMALIA,CHORDATA,MAMMALIA,RODENTIA,MURIDAE,Abditomys,latidens,"(Sanborn, 1952)",NaN,...,Luzon Broad-toothed Rat,NaN,NaN,DD,NaN,3.1,2008.0,unknown,N,Abditomys latidens
1,22687170.0,ANIMALIA,CHORDATA,AVES,CAPRIMULGIFORMES,TROCHILIDAE,Abeillia,abeillei,"(Lesson & DeLattre, 1839)",NaN,...,Emerald-chinned Hummingbird,NaN,NaN,LC,NaN,3.1,2012.0,decreasing,N,Abeillia abeillei
2,17879.0,ANIMALIA,CHORDATA,MAMMALIA,RODENTIA,MURIDAE,Abeomelomys,sevia,"(Tate & Archbold, 1935)",NaN,...,"Menzies' Mouse, Menzies's Mouse, Highland Brus...",NaN,NaN,LC,NaN,3.1,2016.0,unknown,N,Abeomelomys sevia
3,47760825.0,ANIMALIA,CHORDATA,MAMMALIA,RODENTIA,CRICETIDAE,Abrawayaomys,ruschii,"Cunha & Cruz, 1979",NaN,...,Ruschi's Rat,NaN,NaN,LC,NaN,3.1,2016.0,unknown,N,Abrawayaomys ruschii
4,42656.0,ANIMALIA,CHORDATA,MAMMALIA,RODENTIA,ABROCOMIDAE,Abrocoma,bennettii,"Waterhouse, 1837",NaN,...,Bennett's Chinchilla Rat,NaN,NaN,LC,NaN,3.1,2016.0,unknown,N,Abrocoma bennettii

In [39]:
#Identify common columns
common_columns = mammals_meta.columns.intersection(birds_spe.columns)
print(common_columns)

# Step 2: Select only the common columns from both data frames
mammals_common = mammals_meta[common_columns]
birds_common = birds_spe[common_columns]

# Step 3: Concatenate them vertically
metadata = pd.concat([mammals_common, birds_common], ignore_index=True)

# Step 4: Verify the resulting shape
print(metadata.shape)  # (number_of_rows, number_of_columns)
print(metadata.head())  # Check the first few rows of the concatenated data frame
metadata.head()

Index(['Order', 'Family name', 'Authority', 'Synonyms', 'Common names (Eng)',
       'Scientific name'],
      dtype='object')
(27285, 6)
              Order  Family name                  Authority  \
0          RODENTIA      MURIDAE            (Sanborn, 1952)
1  CAPRIMULGIFORMES  TROCHILIDAE  (Lesson & DeLattre, 1839)
2          RODENTIA      MURIDAE    (Tate & Archbold, 1935)
3          RODENTIA   CRICETIDAE         Cunha & Cruz, 1979
4          RODENTIA  ABROCOMIDAE           Waterhouse, 1837

                              Synonyms  \
0                                  NaN
1                                  NaN
2  Melomys sevia|Pogonomelomys sevia
3                                  NaN
4                                  NaN

                                  Common names (Eng)       Scientific name
0                            Luzon Broad-toothed Rat    Abditomys latidens
1                        Emerald-chinned Hummingbird     Abeillia abeillei
2  Menzies' Mouse, Menzies's Mouse, Highland Brus...     Abeomelomys sevia
3                                       Ruschi's Rat  Abrawayaomys ruschii
4                           Bennett's Chinchilla Rat    Abrocoma bennettii

,Order,Family name,Authority,Synonyms,Common names (Eng),Scientific name
0,RODENTIA,MURIDAE,"(Sanborn, 1952)",NaN,Luzon Broad-toothed Rat,Abditomys latidens
1,CAPRIMULGIFORMES,TROCHILIDAE,"(Lesson & DeLattre, 1839)",NaN,Emerald-chinned Hummingbird,Abeillia abeillei
2,RODENTIA,MURIDAE,"(Tate & Archbold, 1935)",Melomys sevia|Pogonomelomys sevia,"Menzies' Mouse, Menzies's Mouse, Highland Brus...",Abeomelomys sevia
3,RODENTIA,CRICETIDAE,"Cunha & Cruz, 1979",NaN,Ruschi's Rat,Abrawayaomys ruschii
4,RODENTIA,ABROCOMIDAE,"Waterhouse, 1837",NaN,Bennett's Chinchilla Rat,Abrocoma bennettii